.bg-4 { 
  background-color: #000033;
  color: #ffffff;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

.container-fluid {
  /* padding-top: 15px; */
  /* padding-bottom: 15px; */
}

.navbar-brand {
  float: left;
  height: 50px;
  padding: 5px 15px;
  font-size: 25px;
  line-height: 20px;
}

#exampleFormControlInput1 {
  width: 96%;
  margin-left: 19px;
}

#mySidebar{
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 0px 0 rgba(0,0,0,0);
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  width:240px;
  height: 83.5%;
  right:0; 
  margin-top:10px;
}

.col-md-11 {
  width: 98%;
  padding-left: 35px;
}

.header {
  padding-top: 15px;
}

h2, h3, h4, h5, h6{
  font-family: 'Rubik', sans-serif;
}

li{
  font-family: 'Rubik', sans-serif;
  font-size: medium;
}

.active{
  background-color: white;
}

.active a{
    color: #00a1d3;
}

li a{
    color: grey;
}

a{
  color: #00a1d3;
}

.light-grey{
    color: silver;
}

#main-content{
  /* border: 2px solid #e6e6e6;
  border-radius: 10px; */
  margin: 20px, 20px, 0px, 20px;
  padding: 10px;
}

#main-content-scroll{
  margin: 20px, 20px, 0px, 20px;
  padding: 10px;
  height: 675px;
  overflow-y: auto;
  overflow-x: hidden;
}

#group_title {
  border-radius: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

navbar-brand{
  font-size: large;
}

subtitle_cat{
  color: red;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}
.interactions{
  color:silver;
  font-size:small;
}

.likes{
  width: 70px;
  height: 35px;
  float:left;
}

.form-check-input{
  width: 10%;
}

.btn-task1{
  align-content: center;
}

span{
  align-self: right;
}

.categoryimg{
  width: 100%;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  /* overflow: auto; Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content-P {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.modal-dialog{
  overflow-y: initial !important
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: rgb(233, 233, 233);
  float: right;
  font-size: 28px;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
}

.modal-header {
  padding: 0px 10px;
  background-color: grey;
  color: white;
}

.modal-body {
  padding: 0px 10px;
  height: 475px;
  overflow-y: auto;
}

.modal-body-P {
  padding: 0px 10px;
  height: 150px;
  overflow-y: auto;
}

.modal-footer {
  /* padding: 2px 16px; */
  background-color: grey;
  color: white;
}

body.modal-open div.modal-backdrop { 
  z-index: 0; 
}

* {
  box-sizing: border-box;
}

input[type=text], select {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

select.selectParticipants{
  width: 37%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input#datepicker{
  background-image: url('../img/calendarLight.svg');
  background-repeat: no-repeat;
  background-position: 150px;
  background-size: 20px;
}

input#selectTime{
  background-image: url('../img/clockLight.svg');
  background-repeat: no-repeat;
  background-position: 150px;
  background-size: 20px;
}

input#finishTime{
  background-image: url('../img/clockLight.svg');
  background-repeat: no-repeat;
  background-position: 336px;
  background-size: 20px;
}

input#inputPrice{
  background-image: url('../img/euroDark.svg');
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: 12px;
  padding: 12px 20px 12px 25px;
}

input#selectTimeNotification{
  width: 54.5%;
  background-image: url('../img/clockLight.svg');
  background-repeat: no-repeat;
  background-position: 173px;
  background-size: 20px;
}

select {
  height: 45px;
}

input {
  width: 44.5%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label#labelModal {
  padding: 12px 12px 12px 10px;
  display: inline-block;
  font-size: 18px;
}

input[type=submit] {
  background-color: #000033;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  width: 25%;
  font-size: 15px;
}

input[type=submit]:hover {
  background-color: #000007;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: auto;
}
#maps{
  text-align: center;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


#imgPadelCards {
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  /*width:236px;*/
  width:contain;
  height:100px;
}

  #imgModal {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:80px;
  height:80px;
}

#c {
  text-align:center;
}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* chekcbox */
/* The container */
.checkboxContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxContainer input#trigger {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  left: 0;
  top: 10px;
  height: 25px;
  width: 25px;
  background-color: rgb(255, 255, 255);
  border: solid rgb(100, 100, 100);
}

/* On mouse-over, add a grey background color */
.checkboxContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxContainer input:checked ~ .checkmark {
  background-color: rgb(255, 255, 255);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkboxContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxContainer .checkmark:after {
  left: 6px;
  top: 1px;
  width: 8px;
  height: 14px;
  border: solid black;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* input#hidden_field {
  width: 4%;
  height: 20px;
  padding-left: 20px;
} */

/* #hidden_fields{
  font-size: 15px;
  padding-left: 20px;
  padding-top: 2px;
} */

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input#myInput {
  width: 122%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}